:local(.className)
  border-right: 1px solid rgba(128, 128, 128, 0.12);
  min-width: 270px;

  &-list
    padding: 10px;
    overflow-y: auto;
    max-height: calc(100% - 56px);

  &-item
    font-size: 13px;
    display: flex;

    &-time
      font-size: 12px;
      color: #bfbfbf;
      margin-right: 5px;
      flex: 0 0 auto;
      white-space: nowrap;

    &-text
      color #3F51B5
