:local(.className)
  padding-bottom: 40px;
  border-bottom: 1px solid #3f51b5;

  &-peers
    flex 2 1 100%
    display: flex;
    align-items: center;
    padding: 12px 14px;
    font-size: 20px;
    justify-content: center;
    color: grey;

    &-text
      margin-right 5px

  &-balance
    flex 2 1 100%
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 20px;
    justify-content: center;
    color: green;

    &-text
      margin-right: 10px;

  &-boxes
    display flex
    justify-content: space-around;
    padding: 0 21px 14px;

  &-box
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    max-width: 180px;
    align-items: flex-end;

  &-button
    flex 1 1 100%
    margin-top: 11px;
