:local(.headerBlock)
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: rgb(232, 232, 232);
  height: 56px;
  padding: 0px 24px;
  display: flex;
  justify-content: center;

  &-title
    padding-right: 16px;
    line-height: 56px;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
