#app
  height: 100vh;
  width: 100vw;

body
  margin 0
  font-family: Roboto, sans-serif;

*, *:after, *:before
  box-sizing border-box

:local(.className)
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &-wrapper
    flex: 1 1 1px;
    display flex
    flex-wrap: wrap;

    & > *
      flex: 1 1 1px; // this just needs to be less than 1/3
      height: 100%;

      @media (max-width: 800px) {
          max-height: 40vh
      }

  &-github-link
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

  img
    width: 100%
