:local(.className)
  background transparent
  min-width: 270px;

  &-form
    padding: 10px 20px;

  &-subtitle
    color: rgb(63, 81, 181);
    font-size: 16px;
    margin-right 5px
    min-width: 50px;

  &-row
    display flex
    align-items: center;
    margin-bottom: 2px;

  &-input
    flex: 1 1 auto;

  &-arrow
    margin: auto;
    transform: rotate(90deg);
    margin-top: 20px;

  &-button
    flex 1 1 auto
    margin-top: 16px;

  &-msg
    color: #1B5E20
    text-align: center;
    margin: auto;

  &-error-msg
    color: #B71C1C
    text-align center
    margin: auto;


