:local(.className)
  background transparent
  min-width: 270px;

  &-form
    padding 10px

  &-subtitle
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    margin-right 5px
    min-width: 50px;

  &-row
    display flex
    align-items: center;

  &-input
    flex: 1 1 auto;

  &-arrow
    margin: auto;
    transform: rotate(90deg);
    color: #3F51B5

  &-button
    flex 1 1 auto
    margin-top: 16px;

  &-msg
    color: #1B5E20
    text-align: center;
    margin: auto;

  &-error-msg
    color: #B71C1C
    text-align center
    margin: auto;


